@font-face{
    src: url(../fonts/bank-gothic-light-bt.ttf);
    font-family: 'next_art';
    font-weight: 300;
}

body{
    font-family: 'next_art';
}
.heading--primary{
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
 
}
.heading--sub{
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
}
.heading--secondary{
    font-size: 5rem;
    font-weight: 200;
    color: var(--color-white);
    text-align: center;
    &--menu{
        margin-bottom: 12rem;
    }
}

.heading--menu{
    color: var(--color-white);
    font-size: 10rem;
    font-weight: 400;
    text-align: center;
}
.error-msg{
    font-size: 3rem;
    margin-top: 2rem;
    color: red;
}